<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{admin/layout/layout :: layout(~{:: title},~{:: #css},~{:: .content-wrapper},~{:: #js})}">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chi tiết phiếu chi</title>

    <th:block id="css">
        <!--Easymde-->
        <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css" />

        <!--Summernote-->
        <link rel="stylesheet" href="/admin-assets/plugins/summernote/summernote-bs4.min.css">

        <!--Select2-->
        <link rel="stylesheet" href="/admin-assets/plugins/select2/css/select2.min.css" />
        <link rel="stylesheet" href="/admin-assets/dist/css/style.css">
        <style>
        </style>


    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="#">Dashboard</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a th:href="@{/admin/costs}">Danh sách phiếu chi</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Chi tiết phiếu chi
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <div class="row py-2">
                    <div class="col-6">
                        <button type="button" class="btn btn-info px-4" id="btnUpdateBanner">
                            Cập nhật
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <form id="form-banner">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label>Mục đích chi</label>
                                                <input type="text" class="form-control" id="name" name="name" placeholder="Nhập mục đích chi" th:value="${cost.name}"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Số tiền</label>
                                                <input type="number" class="form-control" id="amount" name="amount" placeholder="Nhập số tiền" th:value="${cost.amount}"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Ghi chú</label>
                                                <textarea rows="3" class="form-control" id="description" name="description" placeholder="Nhập ghi chú" th:field="${cost.description}"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label>Người chi</label>
                                                <select id="user" class="form-control" name="user">
                                                    <option value="" >Chọn người chi</option>
                                                    <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<th:block id="js">
    //Summernote
    <script src="/admin-assets/plugins/summernote/summernote-bs4.min.js"></script>

    <script src="/admin-assets/plugins/select2/js/select2.full.min.js"></script>

    <script th:inline="javascript">
        let cost = [[${cost}]]
        document.getElementById('user').value = cost.user.id

        $('#form-banner').validate({
            rules: {
                name: {
                    required: true,
                },
                amount: {
                    required: true,
                    min: 1,
                },
                description:{
                    required: true
                },
                user:{
                    required: true
                }
            },
            messages: {
                name: {
                    required: "Tên banner không được để trống",
                },
                amount: {
                    required: "Số tiền không được để trống!",
                    min: "Số tiền phải lớn hơn 0"
                },
                description:{
                    required: "Mô tả không được để trống!"
                },
                user:{
                    required: "Người chi không được để trống!"
                }

            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });

        const btnUpdateBannerEl = document.getElementById("btnUpdateBanner");

        btnUpdateBannerEl.addEventListener('click', async (e) => {
            e.preventDefault();
            console.log("Form submission attempted");

            // Kiểm tra tính hợp lệ của form
            if (!$('#form-banner').valid()) {
                return;
            }

            // Lấy dữ liệu từ form
            const data = {
                name: document.getElementById('name').value,
                amount: document.getElementById('amount').value,
                description: document.getElementById('description').value,
                user: document.getElementById('user').value
            };

            try {
                let res = await axios.put(`/api/admin/costs/${cost.id}/update`, data);
                toastr.success("Cập nhật phiếu chi thành công");
            } catch (e) {
                // Xử lý lỗi
                console.log(e)
                toastr.error(e.response.data.message || "Có lỗi xảy ra");
            }
        });
    </script>
</th:block>
</body>

</html>